{
	//Primary and Secondary
	"fly" : "/tech/coatlica/head/abilities/fly/fly.coatlicaability",
	"bite" : "/tech/coatlica/head/abilities/bite/bite.coatlicaability",
	"firebreath" : "/tech/coatlica/head/abilities/firebreath/firebreath.coatlicaability",
	"firebreath" : "/tech/coatlica/head/abilities/icebreath/icebreath.coatlicaability",
	"firebreath" : "/tech/coatlica/head/abilities/poisonbreath/poisonbreath.coatlicaability",
	"firebreath" : "/tech/coatlica/head/abilities/lightingbreath/lightingbreath.coatlicaability",
	"tunnel" : "/tech/coatlica/head/abilities/tunnel/tunnel.coatlicaability",
	
	//Passive
	"digger" : "/tech/coatlica/head/abilities/digger/digger.coatlicaability",
	"flyer" : "/tech/coatlica/head/abilities/flyer/flyer.coatlicaability",
	"default" : "/tech/coatlica/head/abilities/default/default.coatlicaability"


}
