{
	//Primary and Secondary
	"fly" : "/tech/coatlica/head/abilities/fly/fly.coatlicaability",
	"bite" : "/tech/coatlica/head/abilities/bite/bite.coatlicaability",
	"firebreath" : "/tech/coatlica/head/abilities/firebreath/firebreath.coatlicaability",
	
	//Passive
	"digger" : "/tech/coatlica/head/abilities/digger/digger.coatlicaability",
	"default" : "/tech/coatlica/head/abilities/default/default.coatlicaability"


}
